<div class="">
    <div class="pagination pagination-centered">
        <div class="pagination pagination-centered">
            <ul class="pagination">
                <li ng-class ="{'disabled': activePage.isFirst}"><a ng-href="/#{{pages[activePage.index - 2].path}}">&laquo;</a></li>

                <li ng-repeat="page in pages" ng-class="{'active': activePage.index == page.index}">
                    <a ng-href="/#{{page.path}}">{{page.index}}</a>
                </li>

                <li ng-class ="{'disabled': activePage.isLast}"><a ng-href="/#{{pages[activePage.index].path}}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
