<div class="brands-preview-container text-center">
    <div class="container">
        <div class="back-arrow">
            <a href="#/wedding-dresses"><< Вернуться в коллекцию</a>
        </div>
        <div class="view-details">
            <div class="row">
                <div class="title">
                    <h2 class="h2_title">{{currentDress.Title}}</h2>
                </div>
                <div class="big-image-preview">
                    <div class="view-image">
                        <img ng-src="{{selectedImage || currentDress.ImageUrl1}}" alt="{{currentDress.Title}}" />
                    </div>
                </div>
                <div class="preview-images-container">
                    <div class="preview-images">
                        <ul>
                            <li>
                                <div class="img-preview">
                                    <img ng-src="{{currentDress.ImageUrl1}}" ng-click="selectImage(currentDress.ImageUrl1)" ng-class="{'active': (!selectedImage || selectedImage == currentDress.ImageUrl1)}" alt="{{currentDress.Title}}" class="img-responsive" height="200" />
                                </div>
                            </li>
                            <li>
                                <div class="img-preview">
                                    <img ng-src="{{currentDress.ImageUrl2}}" ng-click="selectImage(currentDress.ImageUrl2)" ng-class="{'active': selectedImage == currentDress.ImageUrl2}" alt="{{currentDress.Title}}" class="img-responsive" height="200" />
                                </div>
                            </li>
                            <li>
                                <div class="img-preview">
                                    <img ng-src="{{currentDress.ImageUrl3}}" ng-click="selectImage(currentDress.ImageUrl3)" ng-class="{'active': selectedImage == currentDress.ImageUrl3}" alt="{{currentDress.Title}}" class="img-responsive" height="200" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="like-share-container">
                        <div class="like-box">
                            <div class="">
                                <a ng-click="selectDress(currentDress)">
                                    <i class="glyphicon" ng-class="{'glyphicon-star': currentDress.isSelect, 'glyphicon-star-empty': !currentDress.isSelect}"></i> {{currentDress.isSelect ? ' удалить из примерки' : ' добавить на примерку'}}
                                </a>
                            </div>
                        </div>
                        <div class="sharing-box">
                            Поделиться
                            <a href="" ng-click="shareVK(currentDress)"><i class="fa fa-vk"></i></a>
                            <a><i class="fa fa-odnoklassniki"></i></a>
                        </div>
                    </div>
                </div>
                <div class=" row text-details">
                    <div class="description details-cell">
                        <span class="text-center">{{currentDress.Description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-navigate">
        <ul class="pager">
            <li class=""><a ng-href="#/wedding-dresses/{{currentBrandTitle}}/details/{{previousDress}}" ng-class="{'disabled': !hasPrevious}">&larr; Предующая</a></li>
            <li class=""><a ng-href="#/wedding-dresses/{{currentBrandTitle}}/details/{{nextDress}}" ng-class="{'disabled': !hasNext}">Следующая &rarr;</a></li>
        </ul>
    </div>

</div>