<div class="brands-preview-container text-center">
    <div class="container">
        <div class="back-arrow">
            <a ng-href="#/accessories" ng-click="back()"><< Вернуться в коллекцию</a>
        </div>
        <div class="view-details">
            <div class="row">
                <div class="col-md-12 title">
                    <h2 class="h2_title">{{currentAccessory.Title}}</h2>
                </div>
                <div class="col-md-12 big-image-preview text-center">
                    <div class="view-image">
                        <img ng-src="{{currentAccessory.ImageUrl}}" alt="{{currentAccessory.Title}}" />
                    </div>
                </div>
                <div class="col-md-12" ng-show="isExist(currentAccessory)">
                    <div class="description details-cell">
                        <span class="text-center">
                            {{currentAccessory.Description}}
                        </span>
                    </div>
                </div>
                <div class=" col-md-12 sharing-box">
                    Поделиться
                    <a href="" ng-click="shareVK(currentAccessory)"><i class="fa fa-vk"></i></a>
                    <a ng-click="shareOK(currentAccessory)"><i class="fa fa-odnoklassniki"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-navigate">
        <ul class="pager">
            <li class=""><a ng-href="#/accessories/{{currentKindTitle}}/details/{{previousAccessory}}" ng-class="{'disabled': !hasPrevious}">&larr; Предующая</a></li>
            <li class=""><a ng-href="#/accessories/{{currentKindTitle}}/details/{{nextAccessory}}" ng-class="{'disabled': !hasNext}">Следующая &rarr;</a></li>
        </ul>
    </div>
</div>