<div class="details">
    <div class="container">
        <div class="text-center">
            <h2 class="h2_title">КОНТАКТЫ</h2>
            <p>Бутик свадебной моды LESANJ является официальным представителем известных брендов</p>
        </div>

        <div class="row row-container">
            <div class="col-md-3 text-center phone">
                <div class="icon">
                    <i class="glyphicon glyphicon-earphone "></i>
                </div>
                <div class="cont">
                    <p> 8 (0222) 23-02-28</p>
                    <p> 8 (029) 844-28-82</p>
                </div>
            </div>

            <div class="col-md-3 text-center marker">
                <div class="icon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </div>
                <div class="cont">
                    <p> г. Могилёв, ул. Ленинская 7</p>
                </div>
            </div>
            <div class="col-md-3 text-center addr">
                <div class="icon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div class="cont">
                    <p> lesanj@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 text-center work">
                <div class="icon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="cont">
                    <p> Время работы:</p>
                    <p>пн.-пт.: 11:00 - 19:00</p>
                    <p>сб.: 11:00 - 16:00</p>
                    <p>вс.: выходной</p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn-lg btn-default">О НАС</button>
    </div>
</div>